<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="keyboard" content="">
    <link rel="stylesheet" href="../Boostrap icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../fonts/font.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>ACERCA DE</title>
</head>
<body>
    <!-- ENCABEZADO -->
    <header class="encabezado-principal">
        <img src="../image/Logo.jpg" alt="Logotipo">
        <h1>Tienda Jazmin</h1>
    </header>
    <!-- Fin Encabezado -->
    <!--  -->
    <!-- BARRA DE NAVEGACION -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
        <a class="navbar-brand" href=""><i class="bi bi-info-circle"></i> ACERCA DE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="../index.html" class="nav-link">INICIO</a></li>
                <li class="nav-item"><a href="galery.html" class="nav-link">GALERIA</a></li>
                <li class="nav-item"><a href="contact.html" class="nav-link">CONTACTENOS</a></li>
            </ul>
        </div>
    </nav>
    <!-- Fin Barra de Navegacion -->
    <!--  -->
    <div class="container">
        <!-- *** -->
        <figure>
            <img src="../image/converse.jpg" alt="welcome">
        </figure>
        <!-- *** -->
        <div class="row" id="row-1">
            <div class="col-3">
                <i class="bi bi-award-fill"></i>
                <p>
                    Experiencia y Calidad de servicio
                </p>
            </div>
            <div class="col-3">
                <i class="bi bi-person-circle"></i>
                <p>
                    Proveedores de la mejores marcas del mercado
                </p>
            </div>
            <div class="col-3">
                <i class="bi bi-bag-fill"></i>
                <p>
                    Envio de Paqueteria sin costo
                </p>
            </div>
            <div class="col-3">
                <i class="bi bi-hand-thumbs-up-fill"></i>
                <p>
                    Excelente servicio al cliente
                </p>
            </div>
        </div>
        <!-- *** -->
        <div class="row" id="row-2">
            <div class="col-md-4">
                <h3>¿QUIENES SOMOS?</h3>
                <p>
                    Somos una tienda Nicaragüense dedicada al servicio de ventas de zapatos en todas las marcas
                </p>
            </div>
            <div class="col-md-4">
                <h3>VALORES</h3>
                <p>
                    Responsabilidad, Confianza, Respeto, Innovacion y Trabajo en Equipo
                </p>
            </div>
            <div class="col-md-4">
                <H3>NUESTRO COMPROMISO</H3>
                <p>
                    Vender a los mejores precios del mercado garantizando un producto y servicio de calidad
                </p>
            </div>
        </div>
        <!-- Fin -->
    </div>
    <!-- Fin de Container -->
    <!-- Social -->
    <div class="social">
        <ul>
            <li><a href="https://www.facebook.com/getbootstrap" target="_blank" class="icon-facebook"></a></li>
            <li><a href="https://www.instagram.com/" target="_blank" class="icon-instagram"></a></li>
            <li><a href="../views/contact.html" class="icon-mail4"></a></li>

        </ul>
    </div>
    <!-- Fin social -->
    <!--  -->
    <!--Pie de Pagina-->
    <footer class="bg-dark text-center text-white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    &copy; Todos los derechos reservados 2021 | SI07A
                </div>
                <div class="col-6">
                    <a href="https://www.facebook.com/getbootstrap" target="_blank"><i class="bi bi-facebook"></i></a>
                    <a href="https://twitter.com/getbootstrap" target="_blank"><i class="bi bi-twitter"></i></a>
                    <a href="https://www.instagram.com" target="_blank"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.youtube.com/getbootstrap" target="_blank"><i class="bi bi-youtube"></i></a>
                    <a href="https://wa.me/50588880000?text=Hola" target="_blank"><i class="bi bi-whatsapp"></i></a>
                </div>
            </div>
    </footer>
    <!-- Fin Pie de Pagina -->
    <!--  -->
    <!-- Scripts -->
    <script src="../js/jquery3.5.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>