<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../Boostrap icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../fonts/font.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>GALERIA</title>
</head>
<body>
    <!-- ENCABEZADO -->
    <!--  -->
    <header class="encabezado-principal">
        <img src="../image/Logo.jpg" alt="Logotipo">
        <h1>Tienda Jazmin</h1>
    </header>
    <!--  -->
    <!-- BARRA DE NAVEGACION -->
    <!--  -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
        <a class="navbar-brand" href=""><i class="bi bi-images"></i> GALERIA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="../index.html" class="nav-link">INICIO</a></li>
                <li class="nav-item"><a href="about.html" class="nav-link">ACERCA DE</a></li>
                <li class="nav-item"><a href="contact.html" class="nav-link">CONTACTENOS</a></li>
            </ul>
        </div>
    </nav>

    <h3 class="zap-estilo">Colegiales</h3>

    <div class="contenedor">
        <figure>
            <img src="../image/colegial/01.jpg" alt="">
            <div class="capa">
                <h3>Colegiales</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>
        <figure>
            <img src="../image/colegial/02.jpg" alt="">
            <div class="capa">
                <h3>Colegiales</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>
        <figure>
            <img src="../image/colegial/03.jpg" alt="">
            <div class="capa">
                <h3>Colegiales</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>
        <figure>
            <img src="../image/colegial/04.jpg" alt="">
            <div class="capa">
                <h3>Colegiales</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>
        <figure>
            <img src="../image/colegial/05.jpg" alt="">
            <div class="capa">
                <h3>Colegiales</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>
        <figure>
            <img src="../image/colegial/06.jpg" alt="">
            <div class="capa">
                <h3>Colegiales</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>
        <figure>
            <img src="../image/colegial/07.jpg" alt="">
            <div class="capa">
                <h3>Colegiales</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>
        <figure>
            <img src="../image/colegial/08.jpg" alt="">
            <div class="capa">
                <h3>Colegiales</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>
        <figure>
            <img src="../image/colegial/09.jpg" alt="">
            <div class="capa">
                <h3>Colegiales</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>
        <figure>
            <img src="../image/colegial/10.jpg" alt="">
            <div class="capa">
                <h3>Colegiales</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>


    </div>

    <h3 class="zap-estilo">Plataformas</h3>
    <div class="contenedor">

        <figure>
            <img src="../image/plataf/01.jpg" alt="">
            <div class="capa">
                <h3>Plataformas</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>
        <figure>
            <img src="../image/plataf/02.jpg" alt="">
            <div class="capa">
                <h3>Plataformas</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>

        <figure>
            <img src="../image/plataf/03.jpg" alt="">
            <div class="capa">
                <h3>Plataformas</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>

        <figure>
            <img src="../image/plataf/04.jpg" alt="">
            <div class="capa">
                <h3>Plataformas</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>

        <figure>
            <img src="../image/plataf/05.jpg" alt="">
            <div class="capa">
                <h3>Plataformas</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>

        <figure>
            <img src="../image/plataf/06.jpg" alt="">
            <div class="capa">
                <h3>Plataformas</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>

        <figure>
            <img src="../image/plataf/07.jpg" alt="">
            <div class="capa">
                <h3>Plataformas</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>

        <figure>
            <img src="../image/plataf/08.jpg" alt="">
            <div class="capa">
                <h3>Plataformas</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>

        <figure>
            <img src="../image/plataf/09.jpg" alt="">
            <div class="capa">
                <h3>Plataformas</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>

        <figure>
            <img src="../image/plataf/10.jpg" alt="">
            <div class="capa">
                <h3>Plataformas</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>


    </div>
    <h3 class="zap-estilo">Zapatos cerrados</h3>
    <div class="contenedor">

        <figure>
            <img src="../image/zap.cerrado/01 (1).jpg" alt="">
            <div class="capa">
                <h3>Zapatos cerrados</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>
        <figure>
            <img src="../image/zap.cerrado/02.jpg" alt="">
            <div class="capa">
                <h3>Zapatos cerrados</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>
        <figure>
            <img src="../image/zap.cerrado/03.jpg" alt="">
            <div class="capa">
                <h3>Zapatos cerrados</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>
        <figure>
            <img src="../image/zap.cerrado/04.jpg" alt="">
            <div class="capa">
                <h3>Zapatos cerrados</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>
        <figure>
            <img src="../image/zap.cerrado/05.jpg" alt="">
            <div class="capa">
                <h3>Zapatos cerrados</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>
        <figure>
            <img src="../image/zap.cerrado/06.jpg" alt="">
            <div class="capa">
                <h3>Zapatos cerrados</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>
        <figure>
            <img src="../image/zap.cerrado/07.jpg" alt="">
            <div class="capa">
                <h3>Zapatos cerrados</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>
        <figure>
            <img src="../image/zap.cerrado/08.jpg" alt="">
            <div class="capa">
                <h3>Zapatos cerrados</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>
        <figure>
            <img src="../image/zap.cerrado/09.jpg" alt="">
            <div class="capa">
                <h3>Zapatos cerrados</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>
        <figure>
            <img src="../image/zap.cerrado/10.jpg" alt="">
            <div class="capa">
                <h3>Zapatos cerrados</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>
    </div>
    <h3 class="zap-estilo">Sandalias bajas</h3>
    <div class="contenedor">
        <figure>
            <img src="../image/s.bajas/01.jpg" alt="">
            <div class="capa">
                <h3>Sandalias bajas</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>
        <figure>
            <img src="../image/s.bajas/02.jpg" alt="">
            <div class="capa">
                <h3>Sandalias bajas</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>
        <figure>
            <img src="../image/s.bajas/03.jpg" alt="">
            <div class="capa">
                <h3>Sandalias bajas</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>
        <figure>
            <img src="../image/s.bajas/04.jpg" alt="">
            <div class="capa">
                <h3>Sandalias bajas</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>
        <figure>
            <img src="../image/s.bajas/05.jpg" alt="">
            <div class="capa">
                <h3>Sandalias bajas</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>
        <figure>
            <img src="../image/s.bajas/06.jpg" alt="">
            <div class="capa">
                <h3>Sandalias bajas</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>
        <figure>
            <img src="../image/s.bajas/07.jpg" alt="">
            <div class="capa">
                <h3>Sandalias bajas</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>
        <figure>
            <img src="../image/s.bajas/08.jpg" alt="">
            <div class="capa">
                <h3>Sandalias bajas</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>
        <figure>
            <img src="../image/s.bajas/09.jpg" alt="">
            <div class="capa">
                <h3>Sandalias bajas</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>
        <figure>
            <img src="../image/s.bajas/10.jpg" alt="">
            <div class="capa">
                <h3>Sandalias bajas</h3>
                <p>Galeria|Store Jazmin</p>
            </div>
        </figure>
    </div>
    <!--  -->
    <!-- Social -->
    <div class="social">
        <ul>
            <li><a href="https://www.facebook.com/getbootstrap" target="_blank" class="icon-facebook"></a></li>
            <li><a href="https://www.instagram.com/" target="_blank" class="icon-instagram"></a></li>
            <li><a href="../views/contact.html" class="icon-mail4"></a></li>

        </ul>
    </div>
    <!-- Fin social -->
    <!--  -->
    <!--Pie de Pagina-->
    <footer class="bg-dark text-center text-white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    &copy; Todos los derechos reservados 2021 | SI07A
                </div>
                <div class="col-6">
                    <a href="https://www.facebook.com/getbootstrap" target="_blank"><i class="bi bi-facebook"></i></a>
                    <a href="https://twitter.com/getbootstrap" target="_blank"><i class="bi bi-twitter"></i></a>
                    <a href="https://www.instagram.com" target="_blank"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.youtube.com/getbootstrap" target="_blank"><i class="bi bi-youtube"></i></a>
                    <a href="https://wa.me/50588880000?text=Hola" target="_blank"><i class="bi bi-whatsapp"></i></a>
                </div>
            </div>
    </footer>
    <!-- Fin Pie de Pagina -->
    <!--  -->
    <!-- Scripts -->
    <script src=" ../js/jquery3.5.1.min.js"> </script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
</body>
</html>