<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../Icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../fonts/font.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/baguetteBox.min.css">
    <link rel="stylesheet" href="../css/Galeria.css">
    <link rel="stylesheet" href="../css/sociales.css">
    <link rel="stylesheet" href="/css/Icon_social.css">
    <title>GALERIA</title>
</head>
<body>
    <header class="encabezado-principal">
        <img src="image/Logo.jpg" alt="Logotipo">
        <h1>Tienda Jazmin</h1>
    </header>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
        <a class="navbar-brand" href=""><i class="bi bi-images"></i> GALERIA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="../index.html" class="nav-link">INICIO</a></li>
                <li class="nav-item"><a href="about.html" class="nav-link">ACERCA DE</a></li>
                <li class="nav-item"><a href="contact.html" class="nav-link">CONTACTENOS</a></li>
            </ul>
        </div>
    </nav>

    <div class="container gallery-container">
        <h3 class="Titulo_Z">Colegiales</h3>
        <div class="tz-gallery">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/colegial/01.jpg">
                        <img src="../image/colegial/01.jpg" alt="Colegial_01">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/colegial/02.jpg">
                        <img src="../image/colegial/02.jpg" alt="Colegial_02">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/colegial/03.jpg">
                        <img src="../image/colegial/03.jpg" alt="Colegial_03">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/colegial/04.jpg">
                        <img src="../image/colegial/04.jpg" alt="Colegial_04">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/colegial/05.jpg">
                        <img src="../image/colegial/05.jpg" alt="Colegial_05">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/colegial/06.jpg">
                        <img src="../image/colegial/06.jpg" alt="Colegial_06">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/colegial/07.jpg">
                        <img src="../image/colegial/07.jpg" alt="Colegial_07">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/colegial/08.jpg">
                        <img src="../image/colegial/08.jpg" alt="Colegial_08">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/colegial/09.jpg">
                        <img src="../image/colegial/09.jpg" alt="Colegial_09">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/colegial/10.jpg">
                        <img src="../image/colegial/10.jpg" alt="Colegial_10">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container gallery-container">
        <h3 class="Titulo_Z">Plataforma</h3>
        <div class="tz-gallery">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/plataf/01.jpg">
                        <img src="../image/plataf/01.jpg" alt="Colegial_01">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/plataf/02.jpg">
                        <img src="../image/plataf/02.jpg" alt="Colegial_02">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/plataf/03.jpg">
                        <img src="../image/plataf/03.jpg" alt="Colegial_03">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/plataf/04.jpg">
                        <img src="../image/plataf/04.jpg" alt="Colegial_04">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/plataf/05.jpg">
                        <img src="../image/plataf/05.jpg" alt="Colegial_05">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/plataf/06.jpg">
                        <img src="../image/plataf/06.jpg" alt="Colegial_06">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/plataf/07.jpg">
                        <img src="../image/plataf/07.jpg" alt="Colegial_07">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/plataf/08.jpg">
                        <img src="../image/plataf/08.jpg" alt="Colegial_08">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/plataf/09.jpg">
                        <img src="../image/plataf/09.jpg" alt="Colegial_09">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/plataf/10.jpg">
                        <img src="../image/plataf/10.jpg" alt="Colegial_10">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container gallery-container">
        <h3 class="Titulo_Z">Zandalias Bajas</h3>
        <div class="tz-gallery">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/s.bajas/01.jpg">
                        <img src="../image/s.bajas/01.jpg" alt="Colegial_01">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/s.bajas/02.jpg">
                        <img src="../image/s.bajas/02.jpg" alt="Colegial_02">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/s.bajas/03.jpg">
                        <img src="../image/s.bajas/03.jpg" alt="Colegial_03">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/s.bajas/04.jpg">
                        <img src="../image/s.bajas/04.jpg" alt="Colegial_04">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/s.bajas/05.jpg">
                        <img src="../image/s.bajas/05.jpg" alt="Colegial_05">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/s.bajas/06.jpg">
                        <img src="../image/s.bajas/06.jpg" alt="Colegial_06">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/s.bajas/07.jpg">
                        <img src="../image/s.bajas/07.jpg" alt="Colegial_07">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/s.bajas/08.jpg">
                        <img src="../image/s.bajas/08.jpg" alt="Colegial_08">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/s.bajas/09.jpg">
                        <img src="../image/s.bajas/09.jpg" alt="Colegial_09">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/s.bajas/10.jpg">
                        <img src="../image/s.bajas/10.jpg" alt="Colegial_10">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container gallery-container">
        <h3 class="Titulo_Z">Zapato Cerrado</h3>
        <div class="tz-gallery">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/zap.cerrado/01 (1).jpg">
                        <img src="../image/zap.cerrado/01 (1).jpg" alt="Colegial_01">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/zap.cerrado/02.jpg">
                        <img src="../image/zap.cerrado/02.jpg" alt="Colegial_02">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/zap.cerrado/03.jpg">
                        <img src="../image/zap.cerrado/03.jpg" alt="Colegial_03">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/zap.cerrado/04.jpg">
                        <img src="../image/zap.cerrado/04.jpg" alt="Colegial_04">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/zap.cerrado/05.jpg">
                        <img src="../image/zap.cerrado/05.jpg" alt="Colegial_05">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/zap.cerrado/06.jpg">
                        <img src="../image/zap.cerrado/06.jpg" alt="Colegial_06">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/zap.cerrado/07.jpg">
                        <img src="../image/zap.cerrado/07.jpg" alt="Colegial_07">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/zap.cerrado/08.jpg">
                        <img src="../image/zap.cerrado/08.jpg" alt="Colegial_08">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/zap.cerrado/09.jpg">
                        <img src="../image/zap.cerrado/09.jpg" alt="Colegial_09">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../image/zap.cerrado/10.jpg">
                        <img src="../image/zap.cerrado/10.jpg" alt="Colegial_10">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin de Multimedia -->
    <!-- Social -->
    <div class="social">
        <ul>
            <li><a href="https://www.facebook.com/getbootstrap" target="_blank" class="icon-facebook"></a></li>
            <li><a href="https://www.instagram.com/" target="_blank" class="icon-instagram"></a></li>
            <li><a href="../views/contact.html" class="icon-mail4"></a></li>

        </ul>
    </div>
    <!-- Fin social -->
    <!--Pie de Pagina-->
    <footer class="bg-dark text-center text-white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6" id="copy">
                    &copy; Todos los derechos reservados
                    <script>
                        document.write(new Date().getFullYear()) 
                    </script>
                </div>
                <div class="col-6">
                    <a href="https://www.facebook.com/getbootstrap" target="_blank"><i class="bi bi-facebook"></i></a>
                    <a href="https://twitter.com/getbootstrap" target="_blank"><i class="bi bi-twitter"></i></a>
                    <a href="https://www.instagram.com" target="_blank"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.youtube.com/getbootstrap" target="_blank"><i class="bi bi-youtube"></i></a>
                    <a href="https://wa.me/50588880000?text=Hola" target="_blank"><i class="bi bi-whatsapp"></i></a>
                </div>
            </div>
    </footer>
    <!-- Fin Pie de Pagina -->
    <!-- Scripts -->
    <script src=" ../js/jquery3.5.1.min.js"> </script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.tz-gallery', {
            animation: 'fadeIn',
            noScrollbars: true
        });
    </script>
</body>
</html>